<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>

<body>
    <div>
        <h2>ログイン画面</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <form action="#" method="post">
            <label for="name">名前:</label>
            <input type="text" id="name" name="name" required>

            <label for="password">パスワード:</label>
            <input type="text" id="password" name="password" required>

            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>

<style>
    .flash-error {
        color: red;
    }

    .flash-success {
        color: green;
    }
</style>